<template>
  <div class="container my-5">
    <div class="row">
      <div class="col-md-3">

        <div class="card shadow">
          <div class="card-header p-0">
            <img src="https://t3.ftcdn.net/jpg/01/86/35/50/360_F_186355025_QIDaOSxmPb3qZvmHsdr3IgGv3pzGANuR.jpg" class="card-img-top"
              alt="img">
          </div>
          <div class="card-body">
            <h5 class="cart-title">หน้าแรก</h5>
            <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Rerum quaerat perferendis
              quas eum doloribus molestiae!
            </p>
            <a href="#" class="btn btn-danger btn-sm">อ่านต่อ...</a>
          </div>
        </div>

      </div>

      <div class="col-md-6">

      </div>

    </div>
  </div>
</template>

<script setup>

</script>

<style>
@import url('https://fonts.googleapis.com/css2?family=Sarabun&display=swap');

h5,p {
  font-family: 'Sarabun', sans-serif;
}

a{
  font-family: 'Sarabun', sans-serif;
}
</style>